@media (max-width: 1439px) {
    main {
        max-width: var(--max-width-notebook);
    }
    a {
        font-size: var(--a-size-notebook);
    }
}

/*820x1,080*/
@media (max-width: 800px) {
    main {
        max-width: var(--max-width-tablet);
    }

    summary {
        font-size: var(--summary-size-tablet);
    }

    a {
        font-size: var(--a-size-tablet);
    }
}

@media (max-width: 500px) {
    main {
        max-width: var(--max-width-mobile);
    }

    section {
        transform: scale(0.9) rotate(45deg);
    }

    a {
        font-size: var(--a-size-mobile);
    }
}
